<html ng-app="pipedrive-resellers">
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.4.1/es5-shim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.4.1/es5-sham.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
<script src="{{ url_for('static', filename='ui-bootstrap-tpls.min.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
<title>Pipedrive Resellers</title>
{% block styles %}
<link rel="stylesheet"
      href="{{url_for('.static', filename='bootstrap.min.css')}}" />
<style>
  body {padding-top: 75px;}
</style>
<style>
  .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
</style>
{% endblock %}
</head>

{% block content %}
<body ng-controller="resellersController">
<div class="container">
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
	<div class="navbar-header">
		<a class="navbar-brand" href="#">Pipedrive Resellers</a>
	</div>
	<div class="navbar-collapse navbar-right">
		<ul class="nav navbar-nav">
			<li class="active"><a href="#">User: {{logged_user}}</a></li>
			<li class=""><a href="/logout">Logout</a></li>
		</ul>
	</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8"><h1>Oportunidades</h1></div>
		<div class="col-md-4"><h1></h1><button class="btn btn-primary pull-right" data-toggle="collapse" data-target="#dealform">Adicionar nova Oportunidade</button></div>
	</div>
	<div class="row">
		{% raw %}
		<div class="alert alert-danger fade in" ng-show="urlError">
            {{ urlError }}
        </div>
  	 	{% endraw %}
	</div>
	<div id="dealform" class="collapse">
		<div class="panel panel-default">
		<div class="panel-body">
		<form class="form-horizontal" role="form">
			<fieldset>
				<div class="form-group">
			        <label class="col-sm-2 control-label" for="customer">Cliente</label>
			        <div class="col-sm-8"><input type="text" name="customer" maxlength="200" class="form-control" id="customer" placeholder="Nome da empresa..." ng-model="input_customer"></div>
			    </div>
			    <div class="form-group">
			        <label class="col-sm-2 control-label" for="contact">Nome Contato</label>
			        <div class="col-sm-8"><input type="text" name="contact" maxlength="200" class="form-control" id="contact" placeholder="Contato na empresa..." ng-model="input_contact"></div>
			    </div>
			    <div class="form-group">
			        <label class="col-sm-2 control-label" for="title">Oportunidade</label>
			        <div class="col-sm-8"><input type="text" name="title" maxlength="200" class="form-control" id="title" placeholder="Setor, produto, uso..." ng-model="input_title"></div>
			    </div>
			    <div class="form-group">
			        <label class="col-sm-2 control-label" for="value">Valor Esperado (R$)</label>
			        <div class="col-sm-8"><input type="number" name="value" maxlength="200" class="form-control" id="value" placeholder="Valor total esperado ou orçamento..." ng-model="input_value"></div>
			    </div>
			    <div class="form-group">
			    	<label class="col-sm-2 control-label" for="description">Descrição</label>
			    	<div class="col-sm-8"><textarea class="form-control" rows="3" name="description" ng-model="input_description" placeholder="Detalhe do escopo do projeto, setor e diferenciais. Se for novo contato, indicar telefone e e-mail..."></textarea></div>
			    </div>
		        {% raw %}
 				<button type="submit" class="btn btn-success col-sm-8 col-md-offset-2" ng-disabled="loading" ng-click="sendDeal()">{{ submitButtonText }}</button>
 			    {% endraw %}
	  		</fieldset>
		</form>
		</div>
		</div>
	</div>

	<div class="row">
		<table class="table table-hover table-responsive" id="status">
			<thead>
				<tr>
				<th>Cliente</th>
				<th>Oportunidade</th>
				<th>Valor</th>
				<th>Adicionado em</th>
				<th>Status</th>
				</tr>
			</thead>
			<tbody>
      			<tr ng-repeat="deal in deals">
      				{% raw %}
    				<td>{{ deal.customer }}</td>
    				<td>{{ deal.title }}</td>
    				<td>R$ {{ deal.value | number:2 }}</td>
    				<td>{{ deal.add_time }}</td>
    				<td>
    					<progressbar class="progress" ng-show="deal.stage == 1" value="1" type="info" max="3">Enviado</progressbar>
    					<progressbar class="progress" ng-show="deal.stage == 2" value="2" type="warning" max="3">Em análise</progressbar>
    					<progressbar class="progress" ng-show="deal.stage == 3" value="3" type="success" max="3">Aprovado</progressbar>
    					<progressbar class="progress" ng-show="deal.stage == 4" value="3" type="danger" max="3">Negado</progressbar>
    					<progressbar class="progress" ng-show="deal.stage == 0" value="0" type="danger" max="3">Nãoencontrado</progressbar>
    				</td>
        			{% endraw %}
        		</tr>
			</tbody>
		</table>
	</div>
</div>
</div>
{% endblock %}
</body>
</html>
