<html>
<head>
<title>Pipedrive for Resellers</title>
{% block styles %}
<link rel="stylesheet"
      href="{{url_for('.static', filename='bootstrap.min.css')}}" />
<style>
  body {padding-top: 75px;}
</style>
{% endblock %}
</head>

{% block content %}
<body>
<div class="container">
    <div class="wrapper">
        <div class="col-md-offset-4 col-md-4 jumbotron">
            <div class="form-login">
                <h4>Bem-Vindo</h4>
                <form class="form-signin" role="form" action="/login" method="POST">
                    <input type="text" id="username" name="username" class="form-control input-lg" placeholder="Usuário" />
                    <br/>
                    <input type="password" id="password" name="password" class="form-control input-lg" placeholder="Senha" />
                    <br/>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
                </form>
            </div> 
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
            <div class="alert alert-danger alert-dismissable fade in">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
            </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>